# dependencies
node_modules/

# pnpm
.pnpm-store/

# build
.next/
out/
build/
dist/

# testing
coverage/

# env
.env*
!.env.example

# logs
*.log

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts